<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="stylesheet" type="text/css" href="../css/languages.css">

        <script type="text/javascript" src="../js/jquery-1.5.1.min.js"></script>
        <script type="text/javascript" src="../js/commonJSON.js"></script>
        <script type="text/javascript" src="../js/languages.js"></script>
    </head> 
    <div id="languages-wrapper">
        <div id="languages" class="page">
            <div class="ui-mask"></div>		
            <div class="ui-hcenter-wrapper">
                <div id="popup" class="ui-hcenter">
				<div id="logo">	</div>
                    <div id="content">
                        <div id="selections">
                            <a class="english active" id="en" href="#">English</a>
                            <a class="spanish" id="es" href="#">Español</a>
                        </div>
                        <div id="body">
                            <div id="instruction">
								<p class="text4">Welcome to <br>Kaiser Permanente<br>Sunnyside Medical Center</p>
								<p class="text2"><br>Select a Language:</p>
								<p class="text2-sm">Translations are provided wherever possible.<br>Not all content has been translated. If you need additional help, please talk to your clinical staff.<br><br></p>
								<p class="text1"> Press Nurse button for help.</p>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</html>