<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		 
        <script type="text/javascript" src="js/jquery-1.5.1.min.js"></script>
        <script type="text/javascript" src="js/commonJSON.js"></script>
        <script type="text/javascript" src="js/primary.js"></script>
    </head> 
    <div id="primary-wrapper">
        <div id="primary" class="fullscreen primary page">
			<div id="header">
				<div class="logo topleft"></div>	
                <div id="patient">
                    <!--<p class="welcome" data-translate="welcome">Welcome</p>
                    <p class="welcome"><span id="floor"></span></p>
                    <p class="location" data-translate="roomnumber">You are in: Room <span id="room"></span></p> -->
                    <p class="phone" data-translate="roomphone" >Phone:&nbsp; </p><br/><p class="datetime text-small text-regular"></p>
				</div> <!-- #patient -->
               
                          </div> <!-- #header -->
            <div class="clear"></div>
            <div id="buttons"></div>
            <div class="clear"></div>
			<div id="content">
				<div id="menu" class="widget dropdown-menu autofocus">
					<div class="slides">
                    <div class="slide" id="menu1-slide" style="display: block;"></div>
                    <div class="slide" id="menu2-slide" style="display: none;"></div>
                    <div class="slide" id="menu3-slide" style="display: none;"></div>
                    <div class="slide" id="menu4-slide" style="display: none;"></div>
                    <div class="slide" id="menu5-slide" style="display: none;"></div>
                </div>
					<div class="major lazy"></div>
					<div class="minor"></div>
				</div>
			</div><!-- #content -->
            <div class="clear"></div>
            <div id="revision"></div>							
        </div><!-- #primary -->
    </div><!-- #wrapper -->
</html>