<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<link rel="stylesheet" type="text/css" href="css/secondary.css">

		<script type="text/javascript" src="js/jquery-1.5.1.min.js"></script>
		<script type="text/javascript" src="js/commonJSON.js"></script>
		<script type="text/javascript" src="js/secondary.js"></script>
	</head>	
	<div id="secondary-wrapper">
		<div id="secondary" class="page secondary" data-translate="true">
			<div class="page-title"></div>
			<div id="header">
				<div class="logo-small topleft"></div>	   
				<div id="heading1"></div>
				<div id="heading2"></div>
			</div><!-- #header -->
			<div id="content">
				<div id="menu" class="widget tab-menu autofocus">
					<div class="major lazy"></div>
					<div class="minor">
						<div class="arrow-button sub-page-prev" style="display: block;"><div class="arrow-left"></div></div><div class="arrow-button sub-page-next" style="display: block;"><div class="arrow-right"></div></div></div>
				</div>
			</div><!-- #content -->
		</div>
	</div>
</html>