<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<link rel="stylesheet" type="text/css" href="css/index.css">
		<link rel="stylesheet" type="text/css" href="css/videoplayer2.css">

		<script type="text/javascript" src="js/jquery-1.5.1.min.js"></script>
		<script type="text/javascript" src="js/commonJSON.js"></script>
		<script type="text/javascript" src="js/videoplayer2.js"></script>
	</head>	
	<div id="videoplayer2-wrapper">
		<div id="videoplayer2" class="fullscreen">
		    <div id="mask">
                <div id="icon"></div>
                <p id="masktext"></p>
            </div>
            <div id="videopanel" class="fullscreen">
            </div>
            <div id="popup"></div>
        </div>
	</div>
</html>