<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<link rel="stylesheet" type="text/css" href="css/watchmovie.css">

		<script type="text/javascript" src="js/jquery-1.5.1.min.js"></script>
		<script type="text/javascript" src="js/commonJSON.js"></script>
		<script type="text/javascript" src="js/watchmovie.js"></script>
	</head>	
	<div id="standalone-wrapper">
		<div id="watchmovie" style="display:none;" class="page">
			
		<div id="banner">
			</div><!-- #banner -->
			<div id="label">
				<img id="labelicon" />
			</div><!-- #label -->
			<div id="title">
			</div><!-- #title -->
			<div id="duration">
			</div><!-- #duration -->

			<div id="selections">
			</div><!-- #selections -->
			<div id="background">
				
			</div><!-- #background -->
			<div id="selection">
				<div id="body">
					<div id="poster">
					</div><!-- #poser -->
					<div id="movie">
					</div>			
				</div>
			</div><!-- #selection -->
		</div>
	</div>
</html>