<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" type="text/css" href="../css/webbrowser.css">

    <script type="text/javascript" src="../libs/jquery/jquery-1.5.1.min.js"></script>
    <script type="text/javascript" src="../core/commonJSON.js"></script>
    <script type="text/javascript" src="../js/webbrowser.js"></script>
</head>
<div id="webbrowser-wrapper">
    <div id="webbrowser" class="page">
        <div id="content" class="ui-hcenter">
            <div id="agreement">
                <div id="internetterms" data-translate="internetterms">
                </div>
                <div id="selection">
                    <a class="button lfloat" id="accept" href="#" data-translate="accept">Accept</a>
                    <a class="button rfloat" id="decline" href="#" data-translate="decline">Decline</a>
                </div>
            </div>
            <div id="mask">
                <div id="icon"></div>
                <p id="text">One moment while we are loading browser...</p>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>
</html>