<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="stylesheet" type="text/css" href="css/secondary.css">

        <script type="text/javascript" src="js/jquery-1.5.1.min.js"></script>
        <script type="text/javascript" src="js/commonJSON.js"></script>
        <script type="text/javascript" src="js/website.js"></script>
    </head> 
    <div id="website-wrapper" style="z-index:9999999">
        <div id="website" class="page">
            <div id="content" class="ui-hcenter">
                <div id="mask">
                    <div id="icon"></div>
                </div>
                <iframe id="webpage" scrolling="auto" seamless></iframe>
                <div class="clear"></div>                 
            </div>
        </div>
    </div>
</html>